<form>
  <label>Name
  <input type="text" value="<%= band.get('name') %>" class="mytext">
  </label>
  <br><br>

  <label>Tags</label>
    <input type="hidden" name="band[tag_ids][]" value="">
    <% Tag.all.each do |tag| %>
    <label>
      <input
        type="checkbox"
        name="band[tag_ids][]"
        value="<%= tag.id %>"
        <%= "checked" if band.tag_ids.include?(tag.id) %>>
      <%= tag.name %>
  </label>
  <% end %>
  <br><br>

  <button class="btn btn-success">Add</button>
</form>
