<section class='index'>
  <h1>Bands</h1>
  <ul class='collection' id='bands'>

    <% bands.each(function (band) { %>
      <li><a class='underline-link' href="#/bands/<%= band.id %>"><%= band.escape('name') %></a></li>
      <% }) %>
    </ul>

    <button><a href="#/bands/new">Add A Band</a></button>
</section>
