<h1>Bands</h1>
<ul class='collection' id='bands'>

  <% bands.each(function (band) { %>
    <li><a href="#/bands/<%= band.id %>"><%= band.escape('name') %></a></li>
  <% }) %>
</ul>

<button class="add-button">Add A Band</button>
