<section class=sidebar>
  <button class="edit"><a href="#/bands/<%= band.id %>/edit">Edit Band</a></button>
  <h1><%= band.escape('name') %></h1>

  <h5>Genres</h5>
  <ul class='genres group'>
    <% band.tags().forEach(function (tag) { %>
      <li class='genre'><%= tag.escape('name') %></li>
    <% }) %>
  </ul>

  <span class='line-break'></span>

  <section class='comments-window'>
    <h5>Comments</h5>
    <div id="comment-form"></div>
    <ul id="comments"></ul>
  </section>
</section>

<section class='main'>
  <header class='main-title-header'>
    <h2 class='main-title'>Songs</h2>
  </header>
  <section class='songs-window'>
    <div id="song-form"></div>
    <ul id="songs"></ul>
  </section>
</section>
