<button class="edit"><a href="#/bands/<%= band.id %>/edit">Edit Band</a></button>
<h1><%= band.get('name') %></h1>

<h5>Genres</h5>
<ul class='tags'>
  <% band.tags().forEach(function (tag) { %>
    <li><%= tag.get('name') %></li>
  <% }) %>
</ul>

<h5>Songs</h5>
<section class='songs-window'>
  <div id="song-form"></div>
  <ul id="songs"></ul>
</section>

<h5>Comments</h5>
<section class='comments-window'>
  <div id="comment-form"></div>
  <ul id="comments"></ul>
</section>
