<div id="backdrop">
  <header id="top-header">

  </header>
  <header id='sub-header'>
    <nav class='group'>
      <section id='audio-container'></section>
      <section id='user-nav'></section>
    </nav>
  </header>
  <div id="content" class='group'></div>
  <div class='hidden' id="modal-window"></div>

  <ol id="tour1" class="tour">
    <li data-button="Next">
      Welcome to Listener, a music sharing ecosystem where users can
      create music blogs, add songs, and discover music in a variety of ways.
      <br><br>
      (Step 1/20)
    </li>

    <li data-button="Next">
      This is the Trending Songs page where you can find which songs
      have received the most likes in the past few days. Scroll to the
      bottom of the page to load more songs.
      <br><br>
      (Step 2/20)
    </li>

    <li data-button="Next" data-class="tour-song-play">
      You can play songs without being signed in. Go ahead, click the
      play button. You'll notice as we go though the tour
      that the Trending Songs will remain the current playlist until you
      play a song from a different page. You can skip ahead or back with
      the buttons in the player at the top of the screen. Ok, click
      'Next'.
      <br><br>
      (Step 3/20)
    </li>

    <li data-class="tour-song-favorite">
      Click the heart to favorite a song.
      <br><br>
      (Step 4/20)
    </li>

    <li data-class="guest-btn">
      Oops, you must be signed in to favorite a song. Go ahead and sign
      in as a Guest for now.
      <br><br>
      (Step 5/20)
    </li>
  </ol>

  <ol id="tour2" class="tour">
    <li data-class="tour-favorites" data-options="tipLocation:top">
      This is your user page. Click on the "Favorites" button below to
      see all your favorite songs.
      <br><br>
      (Step 6/20)
    </li>
  </ol>

  <ol id="tour3" class="tour">
    <li data-class="tour-song-creator-name">
      This is the user that added this song to Listener. Click on the
      username to go to that user's page.
      <br><br>
      (Step 7/20)
    </li>
  </ol>

  <ol id="tour4" class="tour">
    <li data-class="user-follow" data-button="Next">
      Since this user added a song you liked, you may want to follow
      them. By following a user, any time they favorite a song, it will
      automatically be added to your Feed. Click the "Follow" button
      above then click "Next".
      <br><br>
      (Step 8/20)
    </li>

    <li data-id="btn-created-blogs">
      Check out their music blogs by clicking "Created Blogs".
      <br><br>
      (Step 9/20)
    </li>
  </ol>

  <ol id="tour5" class="tour">
    <li data-class="blog-list-show" data-options="tipLocation:top">
      Click on a blog's name to go check it out.
      <br><br>
      (Step 10/20)
    </li>
  </ol>

  <ol id="tour6" class="tour">
    <li data-class="blog-follow" data-button="Next">
      Click the "Follow" button to follow a music blog. By following a
      blog, any time a song is added to that blog, it will automatically
      be added to your Feed as well. Then click "Next".
      <br><br>
      (Step 11/20)
    </li>

    <li data-class="add-comment" data-button="Next" data-options="tipLocation:top">
      Also feel free to add a comment.
      <br><br>
      (Step 12/20)
    </li>

    <li data-class="tour-user-nav" >
      Now let's go back to your feed by clicking on your user picture above.
      <br><br>
      (Step 13/20)
    </li>
  </ol>

  <ol id="tour7" class="tour">
    <li data-button="Next">
      You followed a user and a blog and so songs have been added to your feed
      retroactively. Specifically, all of the songs that user had previously favorited,
      and songs that had been added to that blog. However, your Feed is a timeline so
      they will be added at the place in time when those events occurred.
      <br><br>
      (Step 14/20)
    </li>

    <li data-class="tour-add-song">
      You're almost ready to go. Just a couple more things to check out.
      Let's look at the add song capabilities. Go ahead and click "Add Song".
      <br><br>
      (Step 15/20)
    </li>
  </ol>

 <ol id="tour8" class="tour">
    <li data-id="tour-add-song">
      You can either add a song from a local mp3 file or from a URL.
      Listener will pull the song's info including any album art attached
      to the file automatically. Choose an mp3 from your
      computer or just paste in the following URL:
      <br><br>

      https://s3.amazonaws.com/listener-dev/Sexual+Healing.mp3
      <br><br>
      Then click "Add Song".
      <br><br>
      (Step 16/20)
    </li>
  </ol>

  <ol id="tour9" class="tour">
    <li data-class="edit">
      Looks like that mp3 didn't have album art attached so let's add
      some. Click "Edit Song".
      <br><br>
      (Step 17/20)
    </li>
  </ol>

  <ol id="tour10" class="tour">
    <li data-id="tour-edit-song">
      Let's just edit the album cover. Again, you can either add an image
      from a local file or from a URL. Paste in the following URL, then
      scroll down and click "Update Song":
      <br><br>
      https://s3.amazonaws.com/listener-dev/sexual_healing.jpg
      <br><br>
      (Step 18/20)
    </li>
  </ol>

  <ol id="tour11" class="tour">
    <li data-class="show-img" data-button="Next">
      Looking good!
      <br><br>
      (Step 19/20)
    </li>

    <li data-id="search">
      Lastly, search for songs up here by either band or song
      name. Or you can just type in the beginning of a word to search for.
      Try it and click "Search".
      <br><br>
      (Step 20/20)
    </li>
  </ol>

  <ol id="tour12" class="tour">
    <li data-button="Done">
      Great! That's the end of the tour. You can also learn about content
      using the "Songs" and "Blogs" dropdowns at the top of the screen.
      They are pretty self explanatory. Click "Done" and enjoy.
    </li>
  </ol>

  <script charset="utf-8">
  </script>
</div>
