<div id="backdrop">
  <header id="top-header" class='group'></header>
  <hr>
  <nav id="top-nav">
    <section class='nav-links'>
      <a href="#/bands">Bands</a>
      <a href="#/blogs">Blogs</a>
      <a href="#/songs">Songs</a>
      <a href="/tags">Tags</a>
      <a href="#">Users</a>
    </section>
  </nav>
  <div id="content"></div>
  <script charset="utf-8">
    Listener.bandList = <%= band_list %>;
    Listener.blogList = <%= blog_list %>;
  </script>
</div>
