<div id="backdrop">
  <header id="top-header">

  </header>
  <header id='sub-header'>
    <nav class='group'>
      <section id='audio-container'></section>
      <section id='user-nav'></section>
    </nav>
  </header>
  <div id="content" class='group'></div>
  <div class='hidden' id="modal-window"></div>

  <ol id="tour1" class="tour">
    <li data-button="Next">
      Welcome to Listener, a music sharing ecosystem where users can
      create music blogs, add songs, and discover music in a variety of ways. (Step 1/15)
    </li>

    <li data-button="Next">
      This is the Trending Songs page where you can find which songs
      have received the most likes in the past few days. Scroll to the
      bottom of the page to load more songs. (Step 2/15)
    </li>

    <li data-class="tour-song-play" data-button="Next">
      Click the play button of any song to play it without even being
      signed in. Go ahead, try it. You'll notice as we go though the tour
      that the trending songs will remain the current playlist until you
      play a song from a different page. You can skip ahead or back with
      the buttons in the player at the top of the screen. Ok click
      'Next'. (Step 3/15)
    </li>

    <li data-class="tour-song-favorite">
      Click the heart to favorite a song. (Step 4/15)
    </li>

    <li data-class="guest-btn">
      Oops, you must be signed in to favorite a song. Go ahead and sign
      in as a guest for now. (Step 5/15)
    </li>
  </ol>

  <ol id="tour2" class="tour">
    <li data-class="tour-favorites" data-options="tipLocation:top">
      This is your user page. Click on the "Favorites" button below to
      see all your favorite songs. (Step 6/15)
    </li>
  </ol>

  <ol id="tour3" class="tour">
    <li data-class="tour-song-creator-name">
      This is the user that added this song to Listener. Click on the
      username to go to that user's page. (Step 7/15)
    </li>
  </ol>

  <ol id="tour4" class="tour">
    <li data-class="user-follow" data-button="Next">
      Since this user added a song you liked, you may want to follow
      them. By following a user, any time they favorite a song, it will
      automatically be added to your feed. Click the "Follow" button
      above then click "Next". (Step 8/15)
    </li>

    <li data-id="btn-created-blogs">
      Check out their music blogs by clicking "Created Blogs". (Step 9/15)
    </li>
  </ol>

  <ol id="tour5" class="tour">
    <li data-class="blog-list-show" data-options="tipLocation:top">
      Click on a blog's name to go check it out. (Step 10/15)
    </li>
  </ol>

  <ol id="tour6" class="tour">
    <li data-class="blog-follow" data-button="Next">
      Click the "Follow" button to follow a music blog. By following a
      blog, any time a song is added to that blog, it will automatically
      be added to your feed as well. Then click "Next". (Step 11/15)
    </li>

    <li data-class="add-comment" data-button="Next" data-options="tipLocation:top">
      Also feel free to add a comment. (Step 12/15)
    </li>

    <li data-class="tour-user-nav">
      Now let's go back to your feed by clicking on your user picture above to
      the right. (Step 13/15)
    </li>
  </ol>

  <ol id="tour7" class="tour">
    <li data-button="Next">
      By following a user and a blog songs have been added to your feed
      retroactively. All of the songs that user has previously favorited,
      and songs that have been previously added to that blog in the order
      those events occurred. (Step 14/15)
    </li>

    <li data-class="tour-add-song">
      Now it's time to add a song. Click the "Add Song" button. (Step 15/15)
    </li>
  </ol>

  <script charset="utf-8">
  </script>
</div>
