<div id="backdrop">
  <header id="top-header">

  </header>
  <header id='sub-header'>
    <nav class='group'>
      <section id='user-nav'></section>
    </nav>
  </header>
  <div id="content" class='group'></div>
  <div class='hidden' id="modal-window"></div>
  <script charset="utf-8">
    Listener.bandList = <%= band_list %>;
    Listener.blogList = <%= blog_list %>;
  </script>
</div>
