<div id="backdrop">
  <header id="header">
    <section class='nav-links'>
      <a href="#/bands">Bands</a>
      <a href="#/blogs">Blogs</a>
      <a href="#/songs">Songs</a>
      <a href="/tags">Tags</a>
      <a href="/users">Users</a>
    </section>
  </header>
  <div id="content"></div>
</div>
