<h1>Log in</h1>

<form action="/session" method="POST">
  <%= auth_token %>

  <label for="email">Email</label>
  <input
  type="text"
  name="user[email]"
  id="email"
  value="<%= @user.email %>"
  class="mytext"
  >

  <label for="user_password">Password</label>
  <input
  type="password"
  name="user[password]"
  id="user_password"
  class="mytext"
  >

  <input type="submit" value="Log In">
</form>

<br>

<%= link_to("Sign up", new_user_url) %>
