<section id='player-left'>

</section>

<section id='player-right group'>
  <div class="forward-back">
    <i id='last-song' class="fa fa-backward"></i>
    <i id='next-song' class="fa fa-forward"></i>
  </div>
  <audio id='audio-player' controls>
    <source
      id="mp3_src"
      src="http://s3.amazonaws.com/listener-dev/songs/audios/000/000/003/original/stream?1423088974"
      type="audio/mp3" />
    <p>Your browser does not support the audio element </p>
  </audio>
  <img
    id='player-img'
    src="/assets/missing_song.jpg"
    alt="" />
  <div id='song-title' class='truncate'> </div>
</section>
