<h1>Listener</h1>

<% if(Listener.currentUser.isSignedIn()) { %>

  <p class='user-info'>
    Signed in as:
    <a href="#users/<%= Listener.currentUser.id %>"><%= Listener.currentUser.escape("username") %></a> |
    <a href="#" id="sign-out-link">Sign Out</a>
  </p>

<% } else { %>

  <p class='user-info'>
    <a href="#users/new">Sign Up</a> |
    <a href="#session/new">Sign In</a>
  </p>

<% } %>
