<div class="modal is-open">
  <div class="container">

    <div class="form group">

      <form action="javascript:void(0);" class='modal-form'>

        <section>
          <div class="modal-close js-modal-close">&times;</div>
          <% if (required) { %>
            <div id="required">You must sign in first</div>
          <% } %>
          <div id="form-title">Sign In</div>
          <section id='errors'></section>
          <p><span class="fontawesome-user"></span><input type="text" placeholder="Username or Email" name="user[username_or_email]"></p>
          <p><span class="fontawesome-lock"></span><input type="password"  placeholder="Password" name="user[password]"></p>
          <!-- <p><input class='submit' type="submit" value="Sign In"></p> -->
          <button class='submit modal-submit'>Sign In</button>

        </section>

      </form>

      <p class='not-member'>Not a member? <a class='sign-up-link'href="#">Sign up now</a><span class="fontawesome-arrow-right"></span></p>

    </div> <!-- end login -->

  </div>
  <div class="modal-screen js-modal-close"></div>
</div>
