<nav class='group'>
  <h3><a href="#">LISTENER♫</a></h3>
  <form id="search" >
    <label for="">
      <input id='q' type="text" name="some_name" placeholder=" Artist or Track">
    </label>
    <button class='light'>Search</button>
  </form>
  <ul id='header-links' class='group'>
    <li class='nav-link'><a href="#/blogs">Popular Playlists</a></li>
    <li class='nav-link'><a href="#/songs">Popular Songs</a></li>
    <li class='nav-link'><a href="#/users">Users</a></li>
  </ul>
</nav>
