<% if(Listener.currentUser.isSignedIn()) { %>

  <section class='user-info'>
    <a href="#users/<%= Listener.currentUser.id %>">
      <img class ='img-tiny' src="<%= currentUser.get("image_url") %>">
      <%= Listener.currentUser.escape("username") %>
    </a> |
    <a href="#" id="sign-out-link">Sign Out</a>
  </section>

<% } else { %>

  <section class='user-info'>
      <a id="sign-up-link" class="js-modal-open">Sign Up</a>
      <a id="sign-in-link" class="js-modal-open">Sign In</a>
  </section>

<% } %>
