<% if(Listener.currentUser.isSignedIn()) { %>

  <p class='user-info'>
    Welcome:
    <a href="#users/<%= Listener.currentUser.id %>"><%= Listener.currentUser.escape("username") %></a> |
    <a href="#" id="sign-out-link">Sign Out</a>
  </p>

<% } else { %>

  <p class='user-info'>
    <a id="sign-up-link" class="js-modal-open">Sign Up</a>
    <a id="sign-in-link" class="js-modal-open">Sign In</a>
  </p>

<% } %>
