<div class="modal is-open">
  <div class="container">

    <div class="form group">

      <form action="javascript:void(0);" class='modal-form'>

        <section>
          <div class="modal-close js-modal-close">&times;</div>

          <% if (edit) { %>
            <div id="form-title">Edit Profile</div>
          <% } else { %>
            <div id="form-title">Create A New Account</div>
          <% } %>

          <section id='errors'></section>
          <p><span class="fontawesome-user"></span><input type="text" placeholder="Username" name="user[username]" value="<%= user.escape("username") %>"></p>
          <p><span class="fontawesome-user"></span><input type="text" placeholder="Email" name="user[email]" value="<%= user.escape("email") %>"></p>
          <p><span class="fontawesome-lock"></span><input type="password"  placeholder="Password" name="user[password]"></p>


          <section class='upload-container'>
            <h2 class='upload-title'>Profile Image</h2>
            <label class='large-label'>
              From File
              <input type="file" name="user[image]" id="input-user-image" class='upload-url'>
            </label>
            <img src='' width="50" id="preview-user-image" class='preview-image'>

            <p>Or</p>
            <label class='large-label'>
              From Url
              <br>
              <input class='upload-url user-upload-url' type="text" name="user[image_url]">
            </label>
            <img src='' width="50" id="preview-user-image-url" class='preview-image'>
          </section>

          <section class='user-form-bottom'>
            <% if (edit) { %>
              <button class='submit modal-submit'>Update Account</button>
            <% } else { %>
              <button class='submit modal-submit'>Create Account</button>
              <button class='guest-btn'>Guest Sign In</button>
            <% } %>

            <div id="loading"></div>
          </section>
        </section>

      </form>

      <% if (!edit) { %>
        <p class='not-member'>Already a member?
          <a id="sign-in-link" class='sign-up-link' href="#">Sign in</a>
          <span class="fontawesome-arrow-right"></span>
        </p>
      <% } %>

    </div> <!-- end login -->

  </div>
  <div class="modal-screen js-modal-close"></div>
</div>
