<form class='modal-form'>

  <h2>Sign Up</h2>
  <br><br>
  <label>
    Username
    <input class='mytext' type="text" name="user[username]"
           value="<%= user.escape("username") %>">
  </label>

  <br>

  <label>
    Email
    <input type="email" name="user[email]"
           value="<%= user.escape("email") %>">
  </label>

  <br>

  <label>
    Password
    <input type="password" name="user[password]"
           value="<%= user.escape("password") %>">
  </label>

  <br>

  <label>
    Profile Image
    <input type="file" name="user[image]" id="input-user-image">
  </label>

  <br>

  <img src="" width="50" id="preview-user-image">

  <br>
  <div>Or give an image url</div>

  <label>
    Image Url
    <input class='mytext' type="text" name="user[image_url]">
  </label>
  <br><br>
  <button>Create Account</button>
  <div id="loading">

  </div>
</form>
