<section class='index'>
  <h2>Everyone</h2>

  <ul>
    <% users.each(function(user){ %>
    <li>
      <a class='underline-link' href="#users/<%= user.id %>"><%= user.escape("username") %></a>
    </li>
    <% }) %>
  </ul>

  <br>
</section>
