<% var follows = Listener.currentUser.followedUsers() %>
<section class='sidebar'>
  <section id='user-top'>
    <img class ='profile-image' src="<%= user.escape("profile_image_url") %>">
    <h2><%= user.escape("username") %></h2>

    <% if (Listener.currentUser.id == user.id) { %>
      <button id="add-song-link" class="js-modal-open add-content tour-add-song">
        Add Song<p><br></p>✚
      </button>
      <button id="add-blog-link" class="js-modal-open add-content">
        Add Blog<p><br></p>✚
      </button>
    <% } else { %>
      <button
        class="big-follow user-follow <%= _.contains(follows.pluck('id'), user.id) ? 'user-unfollow' : "" %>">
      </button>
    <% } %>
  </section>

    <section id='top-button-list'>

    </section>

  <section id='bottom-button-list'>
    <button id='btn-feed' class='user-btn'>Feed</button>
    <button id='btn-favorites' class='user-btn tour-favorites'>Favorites</button>
    <button id='btn-added-songs' class='user-btn'>Added Songs</button>
    <button id='btn-created-blogs' class='user-btn'>Created Blogs</button>
    <button id='btn-followed-blogs' class='user-btn'>Followed Blogs</button>
  </section>
</section>

<section class='main'>
  <section id='display-content'></section>
</section>
