<% var follows = Listener.currentUser.followed_users() %>

<h2><%= user.escape("username") %></h2>

<% if (!(Listener.currentUser.id == user.id)) { %>
  <% if (_.contains(follows.pluck('id'), user.id)) { %>
    <button class="unfollow">- Unfollow</i></button>
  <% } else { %>
    <button class="follow">+ Follow</i></button>
  <% } %>
<% } %>
