<% var follows = Listener.currentUser.followed_users() %>

<h2><%= user.escape("username") %></h2>

<% if (!(Listener.currentUser.id == user.id)) { %>
  <% if (_.contains(follows.pluck('id'), user.id)) { %>
    <button class="unfollow">
      <i class="fa fa-plus-square"></i> Unfollow
    </button>
  <% } else { %>
    <button class="follow">
      <i class="fa fa-minus-square"></i> Follow
      </button>
  <% } %>
<% } %>
