<% var follows = Listener.currentUser.followedUsers() %>
<section class='sidebar'>
  <section id='user-top'>
    <img class ='large-image' src="<%= user.get("image_url") %>">
    <h2><%= user.escape("username") %></h2>

    <% if (!(Listener.currentUser.id == user.id)) { %>
      <button
      data-id= '<%= user.id %>'
      class="big-follow user-follow <%= _.contains(follows.pluck('id'), user.id) ? 'user-unfollow' : "" %>">
    </button>
    <% } %>
  </section>

  <section id='button-list'>
    <button id='btn-favorites' class='user-btn'>Favorites</button>
    <button id='btn-feed' class='user-btn'>Feed</button>
    <button id='btn-blogs' class='user-btn'>Followed Blogs</button>
  </section>
</section>


<section class='main'>
  <h2 class='content-header main-title-header'></h2>
  <section id='display-content'></section>
</section>
