<p><%= comment.get('author_name') %>: <%= comment.get('body') %></p>
<button class="edit-comment" data-id='<%= comment.id %>'>Edit</button>
<button class="delete-comment" data-id='<%= comment.id %>'>Delete</button>
