<h1>Sign up!</h1>

<%= render "shared/errors" %>

<form action="/users" method="POST">
  <%= auth_token %>
  <label for="email">Email</label>
  <input
  type="text"
  name="user[email]"
  id="email"
  value="<%= @user.email %>"
  class="mytext"
  >

  <label for="username">Username</label>
  <input
  type="text"
  name="user[username]"
  id="username"
  value="<%= @user.username %>"
  class="mytext"
  >

  <label for="user_password">Password</label>
  <input
  type="password"
  name="user[password]"
  id="user_password"
  class="mytext"
  >

  <input type="submit" value="Sign up">
</form>
