<h2><%= current_user.username %></h2>
<br>
<div>Email: <%= current_user.email %></div>
<br><br>
<!-- <ul>
  <#% current_user.songs.each do |song| %>
  <li><#%= link_to song.name, song_url(song) %></li>
  <#% end %>
</ul> -->
