<section class='index'>
  <h1>Songs</h1>
  <ul class='collection' id='songs'>

    <% songs.each(function (song) { %>
      <li><a class='underline-link' href="#/songs/<%= song.id %>"><%= song.fullName() %></a></li>
    <% }) %>
  </ul>

  <button><a href="#/songs/new">Add A Song</a></button>
</section>
