<div class="modal is-open">
  <div class="container">

    <div class="form group">

      <form action="javascript:void(0);" class='modal-form '>
          <div class="modal-close js-modal-close">&times;</div>

          <div id="form-title">Add A Song</div>
          <section id='errors'></section>


          <label class='large-label'>Blog
            <select name="song[blog_id]">
              <% Listener.currentUser.createdBlogs().forEach(function (blog) { %>
                <option
                <% if (song.escape('blog_id') == blog.id || currentBlogId == blog.id) { %>
                  selected
                <% } %>
                value="<%= blog.id %>">
                <%= blog.escape('name') %>
              </option>
              <% }) %>
            </select>
          </label>
          <br><br>

          <label class='large-label'>Song Type
            <br>
            <label class='radio' for="regular">Regular</label>
            <input
              class='input-inline'
              type="radio"
              name="song[song_type]"
              value="regular"
              id="regular"
              checked>
            <br>
            <label class='radio' for="remix">Remix</label>
            <input
              class='input-inline'
              type="radio"
              name="song[song_type]"
              value="remix"
              id="remix">
            <br><br>
          </label>

          <section class='upload-container'>
            <span id='tour-add-song'></span>
            <label class='large-label'>
              Audio File
              <br>
              <input type="file" name="song[audio]" id="input-song-audio">
            </label>
            <br>
            <p>Or</p>
            <br>
            <label class='large-label'>
              Audio Url
              <br>
              <input class='upload-url' type="text" name="song[audio_url]">
            </label>
          </section>

        <section class='song-form-bottom'>
          <button class='submit modal-submit'>Add Song</button>
          <div id="loading"></div>
        </section>
      </form>
    </div>
  </div>
  <div class="modal-screen js-modal-close"></div>
</div>
