<% if (title == 'popular_all_time') { %>
  <h1>Most Popular Playlists All Time</h1>
<% } else if (title == 'popular_now') { %>
  <h1>Trending Playlists</h1>
<% } else { %>
  <h1>Recently Added Playlists</h1>
<% } %>

<section id="blogs"></section>
<br>
<div id="no-results">
  <% if (blogs.length == 0) { %>
    Loading...
    <% } %>
</div>
