<form id=new-blog class='modal-form'>
  <ul id="errors"></ul>
  <label>Name
  <input class='mytext' type="text" name="blog[name]" value="<%= blog.escape('name') %>" class="mytext">
  </label>
  <br><br>

  <label>URL
    <input class='mytext' type="text" name="blog[url]" value="<%= blog.escape('url') %>" class="mytext">
  </label>
  <br><br>

  <label>Tags</label>
    <input type="hidden" name="blog[tag_ids][]" value="">
    <% Listener.tags.each(function (tag) { %>
      <label>
        <input
        type="checkbox"
        name="blog[tag_ids][]"
        value="<%= tag.id %>"
        <% if (_.contains(blog.get('tag_ids'), tag.id)) { %>
          checked
          <% } %>>
          <%= tag.escape('name') %>
        </label>
    <% }) %>
  <br><br>

  <input type="submit">
</form>
