//SONG-LIST

.song-top {
  margin-bottom: 10px;
}

.genres-container {
  float: right;
  width: 175px;
  text-align: left
}

.main .genres-container {
  width: 230px;
}

.song-list-info {
  width: 528px;
  float: left;
  margin-left: 15px;
  margin-top: 15px
}

.main .song-list-info {
  margin-left: -2px;
  width: 100%;
}

.controls-inner-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

#song-list-controls {
  float: left;
  padding: 0px 5px;
  height: 80px;
  max-width: 180px;
  margin-left: 10px;
  text-align: center;
  box-shadow: 0px 0px 0pt 0pt black;
  -webkit-transition: box-shadow 0.07s ease-in-out 0s;
}

#song-list-controls:hover {
  box-shadow: 0px 0px 3pt 2.5pt black;
}

.main #song-list-controls {
  margin-left: 10px;
}

.song-left #song-list-controls {
  width: 200px;
  height: auto;
  float: none;
  display: block;
  margin-top: 0px;
  margin-right: 0px;
}

.list-img {
  float: left;
}

#favorite-count {
  font-size: 32px;
  color: gray;
}

.favorite {
  background: transparent;
  padding-left: 1px;
  color: gray;
  border-radius: 5px;
  font-size: 34px;
}

#song-list-controls .unfavorite {
  color: #DE3535;
}

.favorite:hover {
  color: #0063dc;
}

.unfavorite:hover {
  color: #DE3535;
}

#play-btn {
  padding: 4px 7px 2px 8px;
  background: transparent;
  font-size: 34px;
  color: black;
}

.blue {
  color: #090E7D;
}

#play-btn:hover {
  color: #0063dc;
  background: #A3A3A3;
}

.underline-link:hover {
  text-decoration: underline;
  color: #0063dc;
}

.audio-underline-link:hover {
  text-decoration: underline;
}
